/* COLORS */

$lightgrey: rgba(245, 245, 245, 0.95);
$grey: rgba(111, 125, 140, 1);
$shadow: rgb(182, 188, 194);
$black: rgba(35, 35, 35, 1);
$lightred: rgba(186, 59, 70, 1);
$red: rgba(164, 3, 31, 1);
$yellow: rgba(255, 167, 55, 1);
$green: rgba(12, 206, 107, 1);

/* MEDIA QUERIE */
